<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="ion-padding">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"></ion-img>

  </div>

  <ion-card id="tarjeta-menu"  color="light" class="ion-padding" >
    <ion-card-title color="tertiary" 
    class="ion-text-center ion-padding">¡Correcto!</ion-card-title>
    
    <img alt="Silhouette of mountains" src="https://img.freepik.com/premium-photo/young-handsome-man-feeling-proud-smiling-positively-with-thumbs-up-university-student-concept_1194-317271.jpg" />

    <h1 color="tertiary" 
    class="ion-text-center ion-padding" *ngIf="usuario">Tu Contraseña es: {{ usuario.password }} </h1>





    
    <ion-button (click)="regresarLogin()" class="ion-padding" color="tertiary"  expand="block">Volver a Iniciar Sesion</ion-button>


  </ion-card>





</ion-content>

