
<ion-content [fullscreen]="true"  class="ion-padding-horizontal">

  <div class="ion-padding">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"></ion-img>
  </div>

  <ion-card id="tarjeta-menu" color="light" class="ion-padding">
    
    <ion-card-title color="tertiary" class="ion-text-center ion-padding">¡Bienvenido al nuevo sistema de asistencia!</ion-card-title>

      <ion-input 
      label="Correo" class="ion-padding" [(ngModel)]="correo"  
      type="text" labelPlacement="floating"></ion-input>

      <ion-input [clearInput]="true"
      label="Contraseña" class="ion-padding"
       [(ngModel)]="password" type="password" 
       size="large"
       labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>




    <ion-button  (click)="ingresar()" class="ion-padding" color="tertiary" 
    shape="round" 
    expand="block">Ingresar</ion-button>

    <ion-card-subtitle
    (click)="ingresarPaginaValidarCorreo()"
    class="ion-text-center ion-padding" color="tertiary">¿Olvidaste tu contraseña?</ion-card-subtitle>

  </ion-card>

</ion-content>
<ion-footer id="footer-id" class="ion-padding ion-text-center">
  
Aplicación creada por: Benjamin, Joaquin, Matias, Luis
</ion-footer>
