ion-content {
  --background: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Palacio_Eguiguren%2C_Santiago_20210807_36.jpg') 0 0 / cover no-repeat;
  --background-size: cover;
  --background-repeat: no-repeat;
}
#tarjeta-menu{
  opacity: 0.9;

}