<div class="marco">

  <ion-item>
    <ion-input type="text" [(ngModel)]="usuario.correo" label="Correo" labelPlacement="floating" disabled="true"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="usuario.nombre" label="Nombre" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="usuario.apellido" label="Apellidos" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="usuario.preguntaSecreta" label="Pregunta secreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta" label="Respuesta secreta" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="usuario.password" label="Contraseña" labelPlacement="floating"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="repeticionPassword" label="Repetir contraseña" labelPlacement="floating"></ion-input>
  </ion-item>

  <br>

  <ion-button class="ion-padding" color="tertiary" 
  (click)="actualizarPerfil()" expand="full" shape="round">
    <ion-icon name="qr-code-outline" slot="start" color="danger"></ion-icon>

    Guardar Datos
  </ion-button>



</div>