

<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="ion-padding">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"></ion-img>

  </div>

  <ion-card color="light" class="ion-padding" >
    <ion-card-title color="tertiary" class="ion-text-center ion-padding">¡Bienvenido al nuevo sistema de asistencia!</ion-card-title>
    
    <ion-item>
      <ion-input label="Correo" class="ion-padding" [(ngModel)]="usuario.correo"  type="text" labelPlacement="floating" placeholder="alumno@duocuc.cl"></ion-input>

    </ion-item>


    <ion-item>
      <ion-input label="Contraseña" class="ion-padding" [(ngModel)]="usuario.password" type="password" labelPlacement="floating" placeholder="Ingrese su contraseña"></ion-input>

    </ion-item>

    <ion-button (click)="ingresar()" class="ion-padding" color="tertiary"  expand="block">Ingresar</ion-button>

    <ion-card-subtitle 
    (click)="ingresarPaginaValidarCorreo()" 
    class="ion-text-center ion-padding" color="tertiary">¿Olvidaste tu contraseña?</ion-card-subtitle>


  </ion-card>



</ion-content>


