ion-content {
  --background: url('https://upload.wikimedia.org/wikipedia/commons/3/33/Palacio_Eguiguren%2C_Santiago_20210807_36.jpg') 0 0 / cover no-repeat;
  --background-size: contain;
  --background-repeat: no-repeat;
}


#img-div{

  width: 14vh;


}

#texto-div{
  vertical-align: text-top;
  color:black;
}

.tabs-transparente{
  --background: transparent;
  --border-width: 0;
  --box-shadow: none;
}
