<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <div class="ion-padding">
    <ion-img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"></ion-img>

  </div>

  <ion-card color="light" class="ion-padding" >
    <img alt="Silhouette of mountains" src="https://w7.pngwing.com/pngs/609/862/png-transparent-person-girl-happy-microphone-hand-arm.png" />

    <ion-card-title color="tertiary"
    class="ion-text-center ion-padding">¡Tu correo es correcto!</ion-card-title>





    <!-- <ion-card-subtitle
    (click)="regresarLogin()"
    class="ion-text-center ion-padding" color="tertiary">Conteste la siguiente pregunta</ion-card-subtitle> -->

    <a (click)="correo1()"
    class="ion-text-center ion-padding" color="tertiary" style="padding-left: 65px;">Conteste la siguiente pregunta</a>
    
  </ion-card>





</ion-content>
