
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Aistencia Online Duoc UC</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1 class="ion-text-center">Bienvenido/a </h1>
    <h2 class="ion-text-start" #nombre *ngIf="usuario">{{ usuario.nombre }}</h2>
  </div>


  <ion-button class="ion-padding" *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="qr-code-outline"></ion-icon>
    Escanear QR
  </ion-button>

  <ion-button class="ion-padding" *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <ion-text class="ion-text-center">
    <h5>Escanea el codigo QR para registrar tu asistencia a clases</h5>
  </ion-text>
  
  <video class="ion-padding" #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>




  <ion-card>
    <ion-card-header>
      <ion-card-title>Los datos del Código QR son los siguientes:</ion-card-title>
    </ion-card-header>
    <ion-card-content class="borde">
      <h2 *ngIf="datosQR">
        {{ datosQR }}
      </h2>
      <h2 *ngIf="!datosQR">
        Sin información
      </h2>
    </ion-card-content>
  </ion-card>
  
</ion-content>

